<a href="https://colab.research.google.com/github/luisantoniourbanaviles/Algoritmos-Geneticos/blob/main/Algoritmo%20genetico%20(primeros%20intentos)/AG_forzado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Algoritmo Genetico Simple

In [ ]:
int('101',2)

5

In [ ]:
a='{:b}'.format(5)
print(a)

101

In [ ]:
len(a)

3

In [ ]:
int(a,2)

5

In [ ]:
def f1(x):
  f = 12*(x**5) - 975*(x**4) + 28000*(x**3) - 345000*(x**2) + 1800000*x
  return(f)

In [ ]:
import random as rd

In [ ]:
f1(20)

4400000

In [ ]:
pob_i = []
n=10
for x in range(10):
  pob_i.append(rd.randint(0,31))

print(pob_i)

[27, 14, 18, 10, 17, 16, 13, 26, 1, 28]

In [ ]:

cod    = []

for x in range(n):
  cod.append('{:b}'.format(pob_i[x]))

print(cod)

[2250909, 3410288, 4239216, 2950000, 4064309, 3853312, 3219541, 2732912, 1482037, 1810816]
['11011', '1110', '10010', '1010', '10001', '10000', '1101', '11010', '1', '11100']

In [ ]:
a,b = rd.randint(0,9),rd.randint(0,9)
print(a,b)

8 3

In [ ]:
def completar(x,y):

  if len(x)<len(y):

    for s in range(len(y)-len(x)):
      x = '0' + x


  elif len(x)>len(y):

    for s in range(len(x)-len(y)):
      y = '0' + y


  return(x,y)

In [ ]:
def cruza(a,b):

  q = rd.randint(1,n-1)
  c_11 = a[0:q]
  c_12 = a[q:]

  c_21 = b[0:q]
  c_22 = b[q:]

  n_1 = c_11 + c_22
  n_2 = c_21 + c_12


  return(n_1,n_2)

In [ ]:
def mutacion(a):


  a_m = ""

  for bit in a:

    prob_m = rd.random()

    if prob_m<0.05:
      if bit == '0':
        bit = '1'
      else:
        bit = '0'

    a_m = a_m + bit


  return(a_m)

In [ ]:
mutacion(cod[4])

10001

In [ ]:

for x in range(0,n,2):
  prob_c = rd.random()

  if prob_c < 0.7:
    print('cruza')
    a,b = rd.randint(0,9),rd.randint(0,9)
    p_1,p_2 = completar(cod[a],cod[b])

    n_1,n_2 = cruza(p_1,p_2)
    print(n_1)
    print(n_2,'\n')

    n_1,n_2 = mutacion(n_1),mutacion(n_2)


    print(n_1)
    print(n_2,'\n')

    pob_i[x] = int(n_1,2)
    pob_i[x+1] = int(n_2,2)

  else:
    print('no cruza')
    a,b = rd.randint(0,9),rd.randint(0,9)
    p_1,p_2 = completar(cod[a],cod[b])

    n_1,n_2 = p_1,p_2

    print(n_1)
    print(n_2,'\n')
    pob_i[x] = int(n_1,2)
    pob_i[x+1] = int(n_2,2)

cruza
11010
00010

11010
00010

no cruza
11100
10010

no cruza
00001
10000

cruza
01010
10000

01010
10010

cruza
1101
0001

1101
0001

In [ ]:
print(pob_i)

[26, 2, 28, 18, 1, 16, 10, 18, 13, 1]

In [ ]:
# decimal to binary number

# Function returns octal representation
def float_bin(number, places = 3):

    # split() separates whole number and decimal
    # part and stores it in two separate variables
    whole, dec = str(number).split(".")

    # Convert both whole number and decimal
    # part from string type to integer type
    whole = int(whole)
    dec = int (dec)

    # Convert the whole number part to it's
    # respective binary form and remove the
    # "0b" from it.
    res = bin(whole).lstrip("0b") + "."

    # Iterate the number of times, we want
    # the number of decimal places to be
    for x in range(places):

        # Multiply the decimal value by 2
        # and separate the whole number part
        # and decimal part
        whole, dec = str((decimal_converter(dec)) * 2).split(".")

        # Convert the decimal part
        # to integer again
        dec = int(dec)

        # Keep adding the integer parts
        # receive to the result variable
        res += whole

    return res

# Function converts the value passed as
# parameter to it's decimal representation
def decimal_converter(num):
    while num > 1:
        num /= 10
    return num

# Driver Code

# Take the user input for
# the floating point number
n = input("Enter your floating point value : \n")

# Take user input for the number of
# decimal places user want result as
p = int(input("Enter the number of decimal places of the result : \n"))

print(float_bin(n, places = p))

Enter your floating point value :
4.51
Enter the number of decimal places of the result :
15
100.100110011001100

In [ ]:
palabra = "10001"
palabra_reemplazada = ""
for letra in palabra:
  a = rd.random()
  if a<0.5:
    if letra == '0':
      letra = '1'
    else:
      letra = '0'

  palabra_reemplazada += letra
print(palabra_reemplazada)

11100